@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@400;700&display=swap");
body,
html {
  font-family: "Rubik", sans-serif;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-color: #fcd1d1;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
nav {
  max-width: 100%;

  position: sticky;
  top: 0;
  left: 0;
   background-color: #fcd1d1;
 box-shadow: 1px 8px 10px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 8px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 8px 10px 2px rgba(0,0,0,0.75);
}

nav .section-one {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-one .nav {
  display: flex;
}
.nav.one img{
  width:50px;
  border-radius:50%;
}
.nav.one svg {
  width: 40px;
  margin-right: 20px;
  color:black;
}
.items h2 {
  font-size: 1rem;
}

.nav.two ul{
  display: flex;
 gap:3em;
 color:white;
 list-style:none;
 font-weight:bold;
 font-size:1.5em;
}

.nav.three{
  background-color: black;
  border:2px double rgb(88, 83, 83);
  padding:0.5em;
  border-radius:50px;
  gap:0.3em;
  display:flex;
  align-items:center;
}
.nav.three {
  color:white;
}
.nav.three a{
  
  text-decoration:none;
  font-size:1.2em;
  font-weight:bold;
 color:white;
}
.nav.three svg{
  width:30px;
  padding-top:0.5em;
  margin:0;
}

.pagecover { 
  padding:7em;
  text-align: center;

 
}

.pagecover img {

  width: 100%;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 14px 8px 10px 0px rgba(21, 4, 14, 0.75);
  -webkit-box-shadow: 14px 8px 10px 0px rgba(37, 15, 28, 0.75);
  -moz-box-shadow: 14px 8px 10px 0px rgba(0, 0, 0, 0.75);
}
.items img {
  width: 205px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items .hairmask img {
  height: 69%;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items li {
  list-style: none;
}
.price {
  background-color: #b45281;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.modal {
  width: 100%;
  height: 45%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: flex;

  display: none;
}
.modal-content {
  position: relative;
  width: 400px;
  height:260px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  background-color:white;
  opacity: 1;
  border-radius: 5px;
}

.modal-content svg {
  width: 60px;
}
.modal-content a {
 
  padding: 0.7em 2em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #701e46;
  border-radius: 20px;
}

input {
  width: 60%;
  display: block;
  margin: 15px auto;
  padding: 7px 0px 7px 7px;
  outline: none;
 border:none;
 border-bottom:1px solid black;
 
}
button {
  width: 30%;

  padding: 10px 0px;
  border: 1px solid black;
  border-radius: 3px;
}
#close {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 2em;
  font-weight: bold;
  transform: rotate(45deg);
  cursor: pointer;
}
/* .open {
  margin-top: 0.7em;
  margin-right: 0.5em;
} */

.new {
  background-color: rgba(99, 17, 65, 0.2);
  color:white;
  padding:6em 0em;
}

.new .section{
  width:90%;
  margin: auto;
  padding-top:1em;
  padding-bottom:1em;
  display:flex;
  gap:2em;
  
}


.detail{
  margin-top:1em;
  display:flex;
  align-items: center;
  gap:0.5em;
}
.newproduct h2{
  font-size:2em;
}
.detail button{
  width:60px;
  color:rgb(24, 20, 97);
  font-weight:700;
  background-color: transparent;
  border-radius:50%;
  border:1px solid palevioletred;
}
.blog {
  margin-top:3em;

 font-weight:bold;
 color:rgb(252, 230, 230);
  display:flex;
  gap:1em;
 
}
.blog-one{
  padding:1em 0em;
  text-align: center;
  background-color: rgba(99, 17, 65, 1);
  box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
}
.blog-two{
  padding:1em 0em;
  text-align: center;
  background-color: rgba(99, 17, 65, 1) ;
  box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 8px 9px 3px rgba(0,0,0,0.75);
}
.blog img{
  width:80%;
  border-radius:5px;
  transition:all 100ms ease-in-out;
}
.blog img:hover{
  transform:translate(0px,-10px);
}

.left{
  flex:1;
}
.right{
  flex:1;
}
.about{
  
 padding:1em;
  width:40%;
  margin:0 auto;
  text-align:center;
  background-color: rgba(99, 17, 65, 0.5);
}
.about h2{
  margin-bottom:0.5em;
}
.about button{
  margin-top:0.3em;
  border:none;
  background-color: rgb(63, 104, 104);
  cursor:pointer;
}

footer {
  color: #cec9c9;
  background-color:rgb(80, 20, 82);
 border-top:4px solid rgb(0, 0, 0);
}

.footer-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0.5em 0em;
  margin: auto;
  border-bottom:3px double gray;
}

.footer-one p{
  margin-top:1.5em;
}

.footer-two a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #cec9c9;
}
.footer-two p {
  margin-top: 1.5em;
}

.footer-three button{
 width:100%;
 padding:0.5em ;
  color:rgb(37, 216, 76);
  background-color: transparent;
  border:5px double rgb(98, 150, 20);
  font-size:1.3em;
  font-weight:bold;
cursor:pointer;
}
.footer-three button:hover{
  color:rgb(29, 103, 69);}
.section-discount {
  padding:0;
  background-color: #fcd1d1;
}
.footer-four{
  width:50%;
margin:0 auto;
  padding:1em 0em;
display:flex;
justify-content: space-around;
}
.footer-four .follow img{
  width:20px;
  
}

.section-two {
  width: 70%;
  padding:6em 0em;

  margin:  auto;
  display: flex;
  gap: 3em;
}
.announce {
  width: 60%;
  max-width: 300px;
  text-align:center;
 border-top:2px solid black;
 border-bottom:2px solid black;
}
.announce h2 {
  margin-top:0.5em;
  margin-bottom: 0.5em;
  
  font-size: 3rem;
}
.announce button {
  width: 50%;
  padding: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(251, 84, 112);
  color: #2d332e;
  font-weight:bold;
  background-color: transparent;
  border-radius:50px;
  transition: all 200ms ease-in-out;
}
.announce button:hover {
   box-shadow: -4px 4px 2px rgb(98, 67, 124); 
  transform: translate(8px, -8px);
}
/* .section-discount{
  padding-top:3em ;
  padding-bottom:7em;
} */
.discount-img img {
  max-width: 30em;
  width: 50%;
  border-radius: 0.5em;
  transition: box-shadow 0.5s ease;
}
.discount-img img:hover {
  -webkit-box-shadow: 1px 1px 12px 4px #7f5283;
  box-shadow: 1px 1px 12px 4px #453346;
}
.discount-img {
  display: flex;
  gap: 2em;
}
.section-three{
  padding:7em 0em;
}
.section-three {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.review-image {
  max-width: 300px;
}
.review-image .carousel img {
  width: 100%;
}

.announce-review {
  width: 50%;
  margin: 0 auto;
  padding: 2em 0;
 
}
.announce-review h2 {
  font-size: 3rem;
  margin-bottom: 1em;
   border-left:2px solid black;
}
.review-image .carousel {
  display: none;
}
.carousel.visible {
  display: block;
}
.buttons {
  position: absolute;
  top: 50%;
  right: 66%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 0.2em;
  width: 10%;
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  background-color: #4f4545;
  border: none;
  border-radius: 3em;
}
.buttons button:hover {
  cursor: pointer;
  background-color: rgb(30, 17, 17);
}
.showmore{
  display:none;
} 
.section-event{
  background-image: url(bimages/event.jpg);
}
.section-event-event{
  background-color: rgba(0, 0, 0, 0.5);
}
.section-four{
  width:60%;
  margin: auto;
  padding:10em 0;
  display:flex;
  align-items:center;
  justify-content: space-around;
  color:rgb(244, 244, 56);
}
.section-four h2{
  font-size:2rem;
}
.week .first{
  margin-bottom:3em;
}
.week h3{
  margin-bottom:1em;
}
.week li{
  list-style: none;
}